.detailImg{
  float: left;
  display: inline-block;
  margin-right: 20px;
}

#detailHead{
  font-size: 35px;
}

#detailProfesion{
  font-size: 16px !important;
}

#detailJumbo{
  background-color: #2B2D42;
  color: #DCDCDD;
}

#detailCard{
  background-color: #F8FCFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
