ul {
  list-style: none;
}
#headline {
  text-align: center;
}
.info{
  text-align: center;
}
.profilePic {
padding-bottom: 10px;
  float: left;
}
.dropdown-menu{
  overflow-y: scroll;
}

#mainSearch{
  text-align: center;
  display: block;
}

.radio-inline{
}
