#nav {
  margin-bottom: 25px;
}

body {
  background-color: #001f3f;
}

#linkContainer ul {
  margin: 0px 20px;
  padding-right: 25px;
  padding-bottom: 30px;
  list-style: none;
}

#linkContainer li {
  display: inline;
  padding-right: 50px;
  font-size: 1.6em;
}

#linkContainer li a:hover {
  color: red;
}

#search-box {
  width: 50%;
}

#search-box {
  padding-bottom: 20px;
}

#search-box .input-group .form-control {
  height: 40px;
}

.specialty h3 {
  text-align: center;
}

input[type='checkbox'] {
  cursor: pointer;
}

#main-section {
  background-color: #111111;
  color: white;
  padding: 50px 25px;
  padding-bottom: 0;
}

#results h1 {
 text-align: center;
}
