<div class="container">

  <div class="jumbotron" id="headline">
    <h2>Lorem Ipsum Ipum Lorem!<br/>
      <small>Lorem Ipsum Ipum Lorem</small>
    </h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" id-"search-bar">
      <form class="form-inline">
        <div class="form-group">
          <div class="dropdown">
            <button id="dLabel" class="btn btn-default" ng-click="searchDoctors()" data-target="#" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Select
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li ng-repeat="item in specialties">
                <a href="">{{item.name}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="form-group">
          <label for="search">Search</label>
          <input type="text" ng-model="zip" class="form-control" id="search" placeholder="Enter Zip">
        </div>
        <div class="form-group">
          <button class="btn btn-default" ng-click="submitSearch()">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <ul class="results" ng-show="zip">
      <li class="col-md-4 doctors" ng-repeat="item in doctors | filter: zip ">
        <div class="info">
          <img class="profilePic" ng-src={{item.profile.image_url}} alt="profile"/>
          <h3 id="name">{{item.profile.title}}.
            {{item.profile.first_name}}
            {{item.profile.last_name}}<br/>
            <small>
              {{item.specialties[0].actor}},
              {{item.specialties[1].actor}}
            </small>
          </h3>
          <img ng-src="{{item.ratings[0].image_url_large}}" />
          <h4>Location
            <br/>
            <small>City:
              {{item.location.city}}</small><br/>
            <small>State:
              {{item.location.state}}</small>
          </h4>
          <div class="form-inline">
            <button class="btn btn-default">Msg</button>
            <a href="mailto:DOCOTORS EMAIL ADDRESS FROM OBJECT?subject=Subject&body=message%20goes%20here" class="btn btn-default">Email</a>
            <button type="button" class="btn btn-default" ng-click="launchCalendar()" data-toggle="modal" data-target="#{{item.id}}">Calendar</button>
            <div ui-view="calendar"></div>
          </div>
        </div>
        <hr/>
      </li>
    </ul>
  </div>

</div>
