<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>Get your Latest Medical News Here!</h1><hr >
    </div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7" ng-controller="newsCtrl">
      <h3>Top Stories</h3>
      <div class="panel panel-default">
        <div class="panel-body">
          Article Thumbnail and Title
        </div>
        <div class="panel-footer">Article Body</div>
      </div>
    </div><!-- End Col-md-8 -->
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <h4>Other Stories</h4>
    </div>
  </div>
</div>
