
<div class="container">
    <div class="row">
        <h1>Welcome {{user.profile.first_name}} {{user.profile.last_name}}</h1>  
    </div>
    
    <div class="row">
        <h2>Your Details</h2>
    </div>
    
    <div>
      <h2>Your Documents</h2>
  
    </div>
    
    <div>
        <h3>Upload Your Documents</h3>
        <!-- button to render modal with uploading of user docs -->
    </div>
    

    <div class="row">
      <input type="file" id="file_input"/>

        <p id="status">Please select a file</p>
        <img style="border:1px solid gray;width:300px;"  id="preview" src="/img/profile.jpeg" />  
    </div>
    

</div> <!-- end of container -->




