
<div class="container" > <!-- ng-controller="ProfileViewCtrl" -->
    <div class="row">
        <h1>Welcome {{user.username}}</h1>  
    </div>
    
    <div class="row">
        <h2>Your Details</h2>
    </div>
    
    <div>
      <h2>Your Documents</h2>

    </div>
    
    <div>
        <h3>Upload Your Documents</h3>
        <!-- button to render modal with uploading of user docs -->
    </div>
    

    <div class="row">
      <input type="file" id="file_input"/>

      <p id="status">Please select a file</p>
      <img style="border:1px solid gray;width:300px;"  id="preview" src="/img/default-avatar.png" />

      <form method="POST" action="/submit_form/">
        <input type="hidden" id="avatar_url" name="avatar_url" value="/public/default.png" />
        <input type="text" name="username" placeholder="Username" /><br />
        <input type="text" name="full_name" placeholder="Full name" /><br /><br />
        <input type="submit" value="Update profile" />
      </form>

    </div>
    

</div> <!-- end of container -->


<script type="text/javascript">


  debugger
  
  alert("hi -script in profile.html")
  console.log("doc JS is here")

  /*
     Function called when file input updated. If there is a file selected, then
     start upload procedure by asking for a signed request from the app.
  */
  function init_upload() {
      debugger
      console.log("here on init_upload");
      var files = document.getElementById("file_input").files;
      var file = files[0];
      if(file == null){
          alert("No file selected.");
          return;
      }
      get_signed_request(file);
  }

  /*
    Function to get the temporary signed request from the app.
    If request successful, continue to upload the file using this signed
    request.
*/
  function get_signed_request (file) {
      debugger
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/sign_s3?file_name=" + file.name + "&file_type=" + file.type);
      xhr.onreadystatechange = function(){
          if(xhr.readyState === 4){
              console.log("xhr.readyState:"+xhr.readyState);
              if(xhr.status === 200){
                debugger
                  console.log('xhr.responseText: '+ xhr.responseText);
                  var response = JSON.parse(xhr.responseText);
                  console.log("response: "+response);
                  upload_file(file, response.signed_request, response.url);
              }
              else{
                  console.log("xhr.status Error : "+xhr.status);
                  alert("Could not get signed URL.");
              }
          }
      };
      xhr.send();
  };

  /*
      Function to carry out the actual PUT request to S3 using the signed request from the app.
  */
  function upload_file(file, signed_request, url) {
      debugger
      var xhr = new XMLHttpRequest();
      xhr.open("PUT", signed_request);
      xhr.setRequestHeader('x-amz-acl', 'public-read');
      xhr.onload = function() {
          if (xhr.status === 200) {
              document.getElementById("preview").src = url;            
              document.getElementById("avatar_url").value = url;
          }
      };
      xhr.onerror = function() {
          alert("Could not upload file."); 
      };
      xhr.send(file);
  }

  
  /*
     Bind listeners when the page loads.
  */
  (function() {
      document.getElementById("file_input").onchange = init_upload;
  })();


</script>
